/*
    spacing variables
    -----------------
============================================================================= */

$gutter: 15px;

$spacing-large: 30px;
$spacing: 12px;
$spacing-small: 6px;
