/*
    Typography variables
    --------------------
============================================================================= */

$font-size: 16px;
$base-font-size: $font-size / 16px * 100;
$font-family: 'Source Sans Pro', sans-serif;

$line-height: 1.625;
