doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        title GW2Bank
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" \type="text/css" href="/global.css")
        //- script.
        //-     (function(){
        //-         var redirect = sessionStorage.redirect;
        //-         delete sessionStorage.redirect;
        //-         if (redirect && redirect != location.href) {
        //-             history.replaceState(null, null, redirect);
        //-         }
        //-         console.log('Site was redirected from: ' + redirect)
        //-     })();
            

    body
        block content
        script(src="/bundle.js")
