/*
    Global stylesheet
    -----------------

    Imports all partials for the global styling used on all pages
============================================================================= */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);
// variables
@import 'variables/typo';
@import 'variables/colors';
@import 'variables/spacings';
// helpers
@import 'helpers/reset';
@import 'helpers/mixins';
// foundation
@import 'foundation/base';
@import 'foundation/typography';
@import 'foundation/print';
// components
@import 'components/grid';
@import 'components/icons';
@import 'components/forms';
@import 'components/buttons';
@import 'components/app';
@import 'components/bank';
@import 'components/items';
@import 'components/info';
@import 'components/menu';
@import 'components/notifications';

.image {
    opacity: .5;
    background: black;
    transition: all 0.3s ease-in-out;
    &-loaded {
        opacity: 1;
    }
}
