$bank-search-padding: 1rem;
$bank-search-height: ($bank-search-padding * 2) + 3rem;

.Bank {
    position: relative;
    padding-top: $bank-search-height;

    &-search {
        position: fixed;
        padding: $bank-search-padding $gutter;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
        height: $bank-search-height;
        display: flex;
        background: rgba($c-background, .9);
        box-shadow: 0 1px 3px rgba($black, .4);

        > * {
            border-left: none;
            &:nth-child {
                border-right: none;
            }
        }
    }
}
