/*
    forms styling
    -------------
============================================================================= */
$input-height: 3rem;

.Form {
    // padding-top: $spacing-large;
}

.FormItem {
    position: relative;
    display: flex;
    // align-items: stretch;
    flex: 1;

    > * {
        height: $input-height;
        &:not(:first-child) {
            border-left: none;
        }
    }

    &-icon {
        width: $input-height;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }

    &-input {
        flex: 1;
        display: flex;
    }
}

input,
select,
button {
    border: 1px solid lighten($c-background, 10%);
    border-radius: 0;
    background: lighten($c-background, 5%);
    padding: $spacing-small $gutter;
    height: $input-height;
    line-height: 1;
    appearance: none;
    margin-bottom: $spacing;

    &:focus {
        outline: none;
        border-color: lighten($c-background, 15%);
        background-color: lighten($c-background, 5%);
    }
}
