/*
    forms styling
    -------------
============================================================================= */

.Form {
    // padding-top: $spacing-large;
}

.FormItem {
    position: relative;
    display: flex;
    align-items: stretch;

    &-input {
        flex: 1;
    }
}

input {
    border: 1px solid $c-secondary;
    background: lighten($c-secondary, 20%);
    padding: $spacing-small;
    
    &:focus {
        outline: none;
        border-color: $c-primairy;
        background-color: lighten($c-primairy, 40%);
    }
}
