/*
    forms styling
    -------------
============================================================================= */
$input-height: 3rem;

.Form {
    // padding-top: $spacing-large;
}

.FormItem {
    position: relative;
    display: flex;
    align-items: stretch;

    &-input {
        flex: 1;
    }
}

input,
select {
    border: 1px solid lighten($c-background, 10%);
    background: lighten($c-background, 5%);
    padding: $spacing-small;
    height: $input-height;

    &:focus {
        outline: none;
        border-color: lighten($c-background, 12%);
        background-color: lighten($c-background, 7%);
    }
}
