/*
    grid
    ----
============================================================================= */

.Grid {
    @include media('>tablet') {
        display: flex;
    }

    > * {
        padding-left: $gutter;
        padding-right: $gutter;
        width: 100%;

        @include media('>tablet') {
            flex: 1;
            flex-grow: 4;
            &:first-child { margin-left: -#{$gutter}; }
            &:last-child { margin-right: -#{$gutter}; }
        }
    }

    &-column--small { flex-grow: 2; }
    &-column--large { flex-grow: 8; }
}

/*
    wrapper
    -------
============================================================================= */

.Wrapper {
    max-width: 960px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;

    > * {
        width: 100%;
    }

    &--small  { max-width: 640px; }
    &--large  { max-width: 1140px; }
    &--full   { max-width: none; }
    &--center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/*
    full width
    ----------

    component that's able to break out the containers width and extend all
    the way to the screen edges

    from: https://css-tricks.com/full-width-containers-limited-width-parents/
============================================================================= */

.FullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
