$info-icon-size: 50px;
$info-closeIcon-size: 30px;
$info-label-width: 7em;


.Info {
    opacity: 0;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    padding: $bank-padding $gutter $spacing-large;
    padding-left: ($info-icon-size + ($gutter * 2));
    background: $c-background;
    border-top: 1px solid lighten($c-background, 5%);
    box-shadow: 0 1px 3px rgba($black, .4);
    transition: opacity 300ms ease-in-out;
    box-shadow: 0 0 60px 5px rgba($black, .6);

    &-name {
        font-size: 2em;
    }

    &-item {
        max-width: 450px;

        @include media('screen', '>tablet') {
            position: relative;
            padding-left: $info-label-width;
        }
    }

    &-label {
        font-weight: bold;
        width: $info-label-width;
        display: block;
        padding-right: 1em;
        margin-right: .5em;
        &:after {
            content: ':';
        }

        @include media('screen', '>tablet') {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &-icon {
        position: absolute;
        top: $bank-padding;
        left: $gutter;
        width: $info-icon-size;
        height: $info-icon-size;
    }

    &-closeButton {
        position: absolute;
        top: 0;
        right: 0;
        width: $info-closeIcon-size;
        height: $info-closeIcon-size;
        padding: 8px;
        line-height: 1;
        background: rgba($white, .05);
        cursor: pointer;
        &:hover {
            background-color: rgba($white, .1);
        }
    }

    &.is-active {
        opacity: 1;
        transform: none;
    }
}
