$item-gutter: 4px;
$item-size: 45px;


.Item {
    float: left;
    padding: $item-gutter;
    // margin-bottom: ($item-gutter * 2);
    position: relative;
    transition: all 150ms ease-in-out;

    &.is-hidden {
        opacity: .2;
    }

    &:hover {
        background: rgba($white, .8);
    }

    &-icon {
        display: block;
        object-fit: cover;
        width:  $item-size;
        height: $item-size;
        position: relative;
        background: $gray1 center center no-repeat;
        background-size: cover;
        border: 1px solid $black;
        outline: 1px solid $c-primairy;
        box-shadow: 0 0 0 2px $black;
        transition: all 300ms ease-in-out;

        &.is-legendary  { outline-color: $c-legendary; }
        &.is-ascended   { outline-color: $c-ascended; }
        &.is-exotic     { outline-color: $c-exotic; }
        &.is-rare       { outline-color: $c-rare; }
        &.is-masterwork { outline-color: $c-masterwork; }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: red;
        }
    }

    &-count {
        position: absolute;
        bottom: ( $item-gutter + 1px);
        right:  ( $item-gutter + 1px);
        z-index: 1;
        background: rgba($white, .8);
        color: $black;
        font-size: 0.8rem;
        padding: 0 2px;
        line-height: 1;
        font-weight: bold;
    }

    &-container {
        @include clearfix;
        margin-left: -#{$item-gutter};
        margin-right: -#{$item-gutter};

        .is-collapsed & {
            display: none;
        }
    }
}

.ItemList {
    padding-top: $spacing;

    &-heading {
        font-size: 1.2rem;
        margin-bottom: $spacing-small;
    }
}
