$item-gutter: 4px;


.Item {
    float: left;
    width: 55px;
    padding-left: $item-gutter;
    padding-right: $item-gutter;
    padding-bottom: ($item-gutter * 2);

    &-icon {
        display: block;
        object-fit: cover;
        width: 100%;
        background: $gray1 center center no-repeat;
        background-size: cover;
        border: 1px solid $black;
        outline: 1px solid $c-primairy;
        box-shadow: 0 0 0 2px $black;

        &.is-legendary  { outline-color: $c-legendary; }
        &.is-ascended   { outline-color: $c-ascended; }
        &.is-exotic     { outline-color: $c-exotic; }
        &.is-rare       { outline-color: $c-rare; }
        &.is-masterwork { outline-color: $c-masterwork; }
    }

    &-container {
        @include clearfix;
        margin-left: -#{$item-gutter};
        margin-right: -#{$item-gutter};
    }
}

.ItemList {

}
