$item-gutter: 5px;
$item-size: 50px;


.Item {
    float: left;
    padding: $item-gutter;
    position: relative;

    &.is-hidden {
        opacity: .2;
    }

    &:hover {
        background: rgba($white, .8);
    }

    &-icon {
        display: block;
        object-fit: cover;
        width:  $item-size;
        height: $item-size;
        position: relative;
        background: $gray1 center center no-repeat;
        background-size: cover;
        border: 1px solid $black;
        outline: 1px solid $gray3;
        box-shadow: 0 0 0 2px $black;
        transition: all 300ms ease-in-out;

        &.is-Legendary  { outline-color: $c-legendary; }
        &.is-Ascended   { outline-color: $c-ascended; }
        &.is-Exotic     { outline-color: $c-exotic; }
        &.is-Rare       { outline-color: $c-rare; }
        &.is-Masterwork { outline-color: $c-masterwork; }
        &.is-Fine       { outline-color: $c-fine; }
    }

    &-count {
        position: absolute;
        bottom: ( $item-gutter + 1px);
        right:  ( $item-gutter + 1px);
        z-index: 1;
        background: rgba($white, .8);
        color: $black;
        font-size: 0.7rem;
        padding: 1px 2px;
        line-height: 1;
        font-weight: bold;
    }

    &-container {
        @include clearfix;
        margin-left: -#{$item-gutter};
        margin-right: -#{$item-gutter};

        .is-collapsed & {
            display: none;
        }
    }
}

.ItemList {

    &-heading {
        position: relative;
        font-size: 1.2rem;
        cursor: pointer;
        padding: $spacing-small $gutter;
        padding-left: 0;
        display: inline-block;

        .is-collapsed & {
            opacity: .2;
        }

        &:hover {
            color: $white;
            border-color: lighten($c-background, 10%);
        }
    }

    &-professionIcon {
        position: relative;
        top:  0.35em;
        left: 0.2em;
    }
}
