$menu-icon-size: 30px;
$menu-color: $white;
$menu-color--hover: $c-primairy;
$menu-borderRadius: 3px;
$menu-gutter: $gutter;

.Menu {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 9;
    pointer-events: none;

    &.is-active {
        pointer-events: auto;
    }

    &-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: $menu-icon-size;
        height: $menu-icon-size;
        border-radius: $menu-borderRadius;
        cursor: pointer;
        padding: 6px;
        pointer-events: auto;

        &:hover {
            color: $white;
        }

        .is-active & {
            color: rgba($black, .5);
        }
    }

    &-item {
        padding: $spacing-small $menu-gutter;
        margin-right: -#{$menu-gutter};
        margin-left: -#{$menu-gutter};
        line-height: $menu-icon-size * 0.75;
        cursor: pointer;
        border-top: 1px solid $gray6;
        border-bottom: 1px solid $gray6;

        & + & {
            border-top: none;
        }

        &:hover {
            background-color: $menu-color--hover;
            color: $c-text;
        }
    }

    &-text {
        padding-top: $spacing;
    }

    &-itemContainer {
        color: rgba($black, .8);
        padding: $menu-gutter;
        transform: scale(0);
        transform-origin: 100% calc(100% - #{$menu-icon-size / 2});
        transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        border-radius: $menu-borderRadius;
        box-shadow: 0 1px 3px rgba($black, .3);
        max-width: 300px;

        background: $menu-color;

        .is-active & {
            display: block;
            transform: scale(1);
        }
    }
}
