.Notification {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: $c-success;
    color: $white;
    padding: $gutter $spacing;
    opacity: 0;
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
    box-shadow: 0 1px 3px rgba($black, .4);
    text-shadow: 0 1px 3px rgba($black, .4);

    &.is-error   { background-color: $c-error; }
    &.is-warning { background-color: $c-warning; }

    &.is-active {
        opacity: 1;
        transform: none;
    }
}
